body {
  background: #f0f0f0;
  font-family: Arial, sans-serif;
  padding: 40px;
}

.recaptcha-box {
  width: 300px;
  height: 75px;
  background: white;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 3px #cfcfcf;
}

#fake-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  cursor: pointer;
}

.recaptcha-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.text {
  font-size: 15px;
  margin-right: auto;
}

.logo {
  width: 30px;
  opacity: 0.8;
}
